{% extends "layout1.html" %}
{% block content %}

<div class="container-flex">

    <div class="col-sm-12 col-md-12">

        <h4>PROFILE</h4>
        <hr />

    </div>
    <!-- Entries Column -->

    <div class="col-md-12">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="panel panel-default">
                <div class="panel-body">
                    Nama: Aulia Sustri Dewiyanti Irawan<br />
                    Npm: 202043502578<br />
                    Nama PT: PT Wijaya Teknik Bersaudara<br />
                </div>
            </div>

        </div>
    </div>

</div>


{% endblock %}