{% extends "layout1.html" %}
{% block content %}
<div class="container-flex">

    <div class="col-sm-12 col-md-12">

        <h4>HASIL</h4>
        <hr />

    </div>
    <!-- Entries Column -->


    <div class="col-md-12">
        <div class="row">
            <!-- Blog Entries Column -->

            <div id="formFilter" class="col-md-4" style="display: none;">
                <div class="panel panel-default">
                    <div class="panel-heading text-left">
                        <b>FILTER</b>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <label for="sortBy">Urutkan</label><br />
                            <select class="form-control" id="sortBy" onchange="searchFilter()">
                                <option value="desc">Descending</option>
                                <option value="asc">Ascending</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="limitBy">Limit</label><br />
                            <select class="form-control" id="limitBy" onchange="searchFilter()">
                                <option value="10">10</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                            </select>
                        </div>

                    </div>
                    <div class="panel-footer text-right">
                        <button type="button" onClick="formFilterClose()" class="btn btn-default">Close</button>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-left">
                        <b>DAFTAR DATA</b>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <input class="form-control" type="text" id="keywords"
                                    placeholder="Type keywords to filter posts" onkeyup="searchFilter()" />
                            </div>
                            <div class="col-md-4">
                                <a href="javascript:void(0)" onClick="formFilter()" class="btn btn-warning"><span
                                        class="glyphicon glyphicon-filter"></span> Filter</a>
                            </div>
                            <div class="col-md-4 text-right">
                                <a href="javascript:void(0)" onClick="formExport(this)" class="btn btn-success">Export Data</a>
                            </div>
                        </div>
                        <br />
                        <table id='postList' class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center" width="50">No</th>
                                    <th class="text-center" width="220">Start Date</th>
                                    <th class="text-center" width="220">End Date</th>
                                    <th class="text-center">Min Support</th>
                                    <th class="text-center">Min Confidence</th>
                                    <th class="text-center">Min Left</th>
                                    <th class="text-center" width="150"><span class="glyphicon glyphicon-cog"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
    
</div>

<script>
    function formExport(element) {
        var url = '/hasil/export-pdf/0';
        window.open(url, '_blank');
    }
    searchFilter(0);
    function searchFilter(page_num) {
        page_num = page_num ? page_num : 0;
        var keywords = $('#keywords').val();
        var sortBy = $('#sortBy').val();
        var limitBy = $('#limitBy').val();
        $.ajax({
            type: 'GET',
            url: 'proses/data',
            data: 'page=' + page_num + '&keywords=' + keywords + '&sortBy=' + sortBy + '&limitBy=' + limitBy,
            dataType: 'json',
            beforeSend: function () {
                $('#loading_ajax').show();
            },
            success: function (responseData) {
                console.log(responseData);
                paginationData(responseData.data);
                $('#loading_ajax').fadeOut("slow");
            }
        });
    }

    function paginationData(data) {
        $('#postList tbody').empty();
        var nomor = 1;
        for (emp in data) {

            id = data[emp][0]
            tanggal_start= formatDate(data[emp][1])
            tanggal_end = formatDate(data[emp][2])
            min_support = data[emp][3]
            min_confidence = data[emp][4]
            min_left = data[emp][5]

            var empRow = '<tr>' +
                '<td class="text-center">' + nomor + '</td>' +
                '<td class="text-center">' + tanggal_start + '</td>' +
                '<td class="text-center">' + tanggal_end + '</td>' +
                '<td class="text-center">' + min_support + '</td>' +
                '<td class="text-center">' + min_confidence + '</td>' +
                '<td class="text-center">' + min_left + '</td>' +
                '<td class="text-center">' +
                '<a href="/proses/result/' + id + '"  class="btn btn-circle btn-success"><span class="glyphicon glyphicon-eye-open"></span></a>' +
                '</td>' +
                +'</tr>';
            nomor++;
            $('#postList tbody').append(empRow);
        }
    }
</script>
{% endblock %}